@model IEnumerable<onlineShop.Products.Song>
@{
    ViewBag.Title = "GetBooksNoCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="thumbnails">
    @for (int i = 0; i < 20; ++i)
    {
        <li class="span3">
            <div class="row-fluid">
                @foreach (var product in Model.Skip(i).Take(1))
                {
                    <div class="thumbnail">
                        <a href='@Url.Action("Details", "Songs", new { id = product.Id }, null)'>
                            <img src="/@product.ImagePath" alt="product image" /><br />
                        </a>

                        <div class="caption cntr">
                            <p>@Html.DisplayFor(modelItem => product.Name)</p>
                            <p>@Html.DisplayFor(modelItem => product.Artist)</p>
                            <p><strong>$@Html.DisplayFor(modelItem => product.Price)</strong></p>
                            <h4><a class="shopBtn" href='@Url.Action("AddToCart", "Cart", new { Id = product.Id })'> Add to cart</a></h4>
                            <br class="clr">
                        </div>
                    </div>
                }
            </div>
        </li>
    }
</ul>






